.page-title__header-root {
  display: flex;
  width: full   ;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-title__header-title {
  padding: 0 0.75rem;
}
