.swap__root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.swap__container {
  max-width: 500px;
}

.swap__swap {
  padding: 1rem 0;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
